<main class="relative">
    <nav class="menu menu-height menu-line">
        <div class="menu-line menu-height">
            <div class="container align-center justify-between ">
                <div class="flex align-center wrapper-height justify-end gap">
                    <!-- <button mat-icon-button value="select">
                        <mat-icon>person</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>inbox</mat-icon>
                    </button> -->

                    <mat-button-toggle-group hideSingleSelectionIndicator #group="matButtonToggleGroup" [(value)]="selectOption">
                        <mat-button-toggle value="Clientes" [routerLink]="['/clientes']">
                            <mat-icon>person</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="Produtos" [routerLink]="['/produtos']">
                            <mat-icon>inbox</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="container align-center justify-between menu-height">
            <div class="flex justify-between align-center list-height">
                <h3>{{pageTitle}}</h3>
                <div>
                    <mat-form-field appearance="outline" class="hint-hide">
                        <input matInput type="search" [placeholder]="searchPlaceholder">
                        <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </nav>

    <body class="content">
        <router-outlet></router-outlet>
    </body>
</main>