<h2 mat-dialog-title>Criar novo cliente</h2>

<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="edit()" style="padding-top: 20px;">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" type="text" required>
            <mat-error *ngIf="form.get('name')?.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="form.get('email')?.hasError('required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">Email inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone" type="tel" pattern="^\d{2}\d{4,5}\d{4}$" required>
            <mat-error *ngIf="form.get('phone')?.hasError('pattern')">Telefone inválido</mat-error>
        </mat-form-field>

        <mat-slide-toggle formControlName="active">Ativo</mat-slide-toggle>
        <mat-error *ngIf="form.get('active')?.hasError('required')">Campo obrigatório</mat-error>

        <div class="flex justify-end gap">
            <button mat-button type="button" (click)="close()">Cancelar</button>
            <button mat-flat-button [mtBasicSpinner]="load" type="submit"
                [disabled]="form.invalid || load">Criar</button>
        </div>
    </form>

</mat-dialog-content>