<h2 mat-dialog-title>Editar Cliente</h2>

<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="edit()" style="padding-top: 20px;">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" type="text" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone" type="text" required>
        </mat-form-field>

        <mat-slide-toggle formControlName="active">Ativo</mat-slide-toggle>
        <mat-error *ngIf="form.get('active')?.hasError('required')">Campo obrigatório</mat-error>

        <div class="flex justify-end gap">
            <button mat-button type="submit" [disabled]="form.invalid">Salvar</button>
        </div>
    </form>
</mat-dialog-content>