<h2 mat-dialog-title>Criar novo produto</h2>

<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="create()" style="padding-top: 20px;">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" type="text" required>
            <mat-error *ngIf="form.get('name')?.hasError('required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('minlength')">O nome precisa ter no mínimo 3 dígitos.</mat-error>
            <mat-error *ngIf="form.get('name')?.hasError('maxlength')">O nome não pode ultrapassar 100 dígitos.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Preço</mat-label>
            <input matInput formControlName="price" type="number" required>
            <mat-error *ngIf="form.get('price')?.hasError('required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="form.get('price')?.hasError('min')">O preço não pode ser menor ou igual a 0.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Estoque</mat-label>
            <input matInput formControlName="stock" type="number" required>
            <mat-error *ngIf="form.get('stock')?.hasError('required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="form.get('stock')?.hasError('min')">O valor não pode ser menor que 0.</mat-error>
            <mat-error *ngIf="form.get('stock')?.hasError('max')">O valor não pode ser maior que 999999999.</mat-error>
        </mat-form-field>

        <div class="flex justify-end gap">
            <button mat-button type="button" (click)="close()">Cancelar</button>
            <button mat-flat-button [mtBasicSpinner]="load" type="submit"
                [disabled]="form.invalid || load">Criar</button>
        </div>
    </form>

</mat-dialog-content>